@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body { padding-top: 70px; }

.alert-notice, .alert-alert {
  background-color: $brand-info;
}

.voting {
  font-family: FontAwesome;
  font-size: 2em;
  text-align: center;

  .upvote:after {
    content: '\f01b';
  }

  .voted.upvote:after {
    content: '\f0aa';
  }

  .downvote:after {
    content: '\f01a';
  }

  .voted.downvote:after {
    content: '\f0ab';
  }

  .disabled {
    color: #777;
  }

}

a, a:active, a:hover, a:focus {
  text-decoration: none;
}

.page-footer {
  margin-top: 2em;
  border-top: 1px solid $gray-lighter;
  padding: 2em;
  text-align: center;

  a {
    margin: 0 1em;
  }
}

.label-default {
  margin-right: .2em;

  a {
    color: #fff;
  }
}
