<%= render partial: 'votes/buttons/upvote', locals: { votable: votable } %>
<div class="vote-total">
  <%= votable.vote_points %>
</div>
<%= render partial: 'votes/buttons/downvote', locals: { votable: votable } %>

<script>
  $('.visitor').popover();
  $('.votable-creator').popover();
</script>
